- add_to_breadcrumbs _("Iterations"), group_iterations_path(@group)
- breadcrumb_title params[:id]
- page_title s_("Iterations|Edit iteration")

.js-iteration{ data: { full_path: @group.full_path,
  iterations_list_path: group_iterations_path(@group),
  can_edit: can?(current_user, :admin_iteration, @group).to_s,
  iteration_id: params[:id],
  preview_markdown_path: preview_markdown_path(@group) } }
